services:
  nginx:
    build: ./nginx
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - user-service

  auth-service:
    build: ./auth
    ports: 
      - "3001:3001"
    depends_on:
      - user-db
    
  user-service: 
    build: ./user
    ports:
      - "3002:3002"
    depends_on:
      - user-db

  user-db:
    image: mysql:oraclelinux9
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: user_db
    ports:
      - "3306:3306"
    volumes:
      - user-db-data:/var/lib/mysql
    container_name: user-mysql